/* ---------------------------------------------------------------------
CSS for Default Greengrape Theme

Original Author: Jansen Price
Contributors:
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #ffffff;
    color: #333333;
}

a {
    color: #333333;
}

a:visited {
    color: #333333;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------------------------------------------------
 Layout
------------------------------------------------------------------------ */
.contain {
    max-width: 1024px;
    margin: 0 auto;
}

.page {
    color: #333333;
    background-color: #929292;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

header {
    border-top: 10px solid #91a989;
    background-color: #ffffff;
}

main {
    background-color: #ffffff;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.reverse {
    flex-direction: row-reverse;
}

article {
}

.content {
    background-color: #ffffff;
    padding: 40px;
}

aside {
    padding: 40px;
}

.span3 { width: 33%; }
.span9 { width: 66%; }

/* ---------------------------------------------------------------------
 Site name
------------------------------------------------------------------------ */
.site-name {
    font-size: 36px;
    padding: 40px;
    font-weight: bold;
    color: #222222;
    background-color: #efefef;
}

.site-name a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
nav li {
    list-style-type: none;
}

.nav {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.main-navigation {
    background-color: #83907f;
    margin: 0;
}

.main-navigation a {
    color: #ffffff;
}

.main-navigation .active a {
    background-color: #d3dad0;
    color: #333333;
}

.main-navigation a:hover {
    background-color: #8e998a;
    color: #ffffff;
}

.sub-navigation {
    background-color: #e8e6b5;
    margin: 0;
}

.sub-navigation .active a {
    background-color: #f8f6c5;
    color: #333333;
}

.sub-navigation a:hover {
    background-color: #edecc4;
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
footer {
    background-color: #ffffff;
    font-size: 11px;
    padding: 10px 40px;
    text-align: center;
}

/* ---------------------------------------------------------------------
 Content tables
------------------------------------------------------------------------ */

.content table {
    max-width: 100%;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.content table th,
.content table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.content table th {
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    background-color: #f2f2f2;
}

.content table thead th {
    vertical-align: bottom;
}

.content tr:nth-child(even) td {
    background-color: #fafafa;
}

/* ---------------------------------------------------------------------
 Content computer output
------------------------------------------------------------------------ */
.content code,
.content samp,
.content tt,
.content kbd {
    font-family: monospace;
}

.content var {
    font-style: italic;
}

.content code,
.content pre {
    font-family: monospace;
}

.content pre {
    background-color: #eeeeee;
    display: block;
    padding: 10px;
    overflow-x: auto;
    line-height: 1.2;
    font-size: 0.8rem;
}

.content code {
    color: #222222;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 0.8rem;
}

.content pre code {
    border: none;
    padding: 0;
    line-height: 1.2;
    font-size: 0.8rem;
}

/* ---------------------------------------------------------------------
 Content blockquotes
------------------------------------------------------------------------ */

.content blockquote {
    background-color: #efefef;
    border-left: 6px solid #91a989;
    margin-inline-start: 0;
    padding: 1px 16px;
}

/* ---------------------------------------------------------------------
 Content media
------------------------------------------------------------------------ */
.content img,
.content video,
.content audio {
    max-width: 100% !important;
}

.content a img {
    border: 2px solid #222222;
    border-radius: 4px;
}

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-col-aside {
    width: 100%;
    background-color: #efefef;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------
 Entries
------------------------------------------------------------------------ */

.entries-list {
    margin-left: 20px;
    padding-inline-start: 0;
}

/* ---------------------------------------------------------------------
 Screen size large overrides
------------------------------------------------------------------------ */
@media (min-width:940px) {
  .container {
      padding-left: 0;
      padding-right: 0;
      width: 1040px;
  }
  .nav {
      flex-direction: row;
      padding-inline-start: 20px;
  }
  .grid {
      flex-direction: row;
  }
  .grid-col-aside {
      width: 240px;
      padding: 20px;
      margin-left: 20px;
  }
}
