<div class="wrapper">
    <div class="grid">
        <div class="grid-col">
            <div class="content" role="main">
                <h1>Entry: {{ title }}</h1>
                <p class="entry-date">{{ date }}</p>
                {{ content|raw }}
            </div>
        </div>
        {% if aside|length > 0 or entries|length > 0 %}
        <div class="grid-col grid-col-aside">
            <div class="content">
                {% if entries|length > 0 %}
                    <h3>Entries</h3>
                    <ul class="entries-list">
                    {% for entry in entries %}
                        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% for item in aside %}
                <aside>
                    {{ item|raw }}
                </aside>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
